{% extends 'base.html.twig' %}

{% block title %}
    About us | {{ parent() }}
{% endblock %}

{% block body %}
<h1> La page ABOUT US marche !</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt corrupti necessitatibus ea! Quos dolores molestias iure nobis soluta porro, neque doloremque. Expedita itaque eos modi, soluta quam deserunt commodi fuga vero. Quod perspiciatis eveniet ea, voluptatem nihil voluptatum harum pariatur illo et velit maxime eos reprehenderit deleniti impedit doloribus sed ipsum dolore quae quam rerum. Laborum facere est officia alias similique fugit quibusdam possimus, saepe unde, excepturi, quas ratione obcaecati earum veritatis quod delectus vel amet inventore quo tempora. Exercitationem iste earum corrupti, sint culpa cum accusantium quasi voluptas quo dolorum magnam! Obcaecati illo officia est architecto, reiciendis asperiores ea, corrupti consequuntur veniam consequatur repellendus, inventore voluptate sint. Porro ab alias assumenda rerum laborum earum veritatis sit consequuntur et, magnam officiis culpa maxime dolor, illum, sed quasi dolores rem asperiores corrupti molestiae doloremque. Eum modi aperiam sequi sed est saepe inventore magni voluptatum a harum temporibus eius incidunt, facilis assumenda.</p>
{% endblock %}